In [6]:
import requests
import os
import json
import pandas as pd

In [7]:
alpha_vantage_key = os.environ.get('alpha_vantage_key')
type(alpha_vantage_key)

str

In [8]:
SPYRespone = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=SPY&interval=60min&outputsize=full&apikey="+alpha_vantage_key)

In [9]:
SPY_date = []
SPY_high = []
SPY_low = []
SPY_open = []
SPY_close = []
SPY_volume = []

for k in SPYRespone.json()["Time Series (60min)"].keys():
    SPY_date.append(k)
    SPY_open.append(SPYRespone.json()["Time Series (60min)"][k]['1. open'])
    SPY_high.append(SPYRespone.json()["Time Series (60min)"][k]['2. high'])
    SPY_low.append(SPYRespone.json()["Time Series (60min)"][k]['3. low'])
    SPY_close.append(SPYRespone.json()["Time Series (60min)"][k]['4. close'])
    SPY_volume.append(SPYRespone.json()["Time Series (60min)"][k]['5. volume'])
    
zippedList =  list(zip(SPY_date, SPY_high, SPY_low, SPY_open, SPY_close, SPY_volume))
concat_dataframe = pd.DataFrame(zippedList, columns = ['date' , 'high', 'low', 'open', 'close', 'volume'])
data_frame = concat_dataframe.set_index(pd.DatetimeIndex(concat_dataframe['date'])).drop(columns = 'date')
data_frame.head()

                         high       low      open     close    volume
date
2019-09-18 15:30:00  301.2200  300.0050  300.0050  301.0900  10191171
2019-09-18 14:30:00  300.3575  298.5257  298.5720  300.0220  24600903
2019-09-18 13:30:00  300.5200  298.5700  299.6800  298.7800  15185359
2019-09-18 12:30:00  300.2450  299.6600  300.1550  299.6900   3569031
2019-09-18 11:30:00  300.2400  300.0200  300.1400  300.1500   3181030